certifi @ file:///private/tmp/python-certifi-20231211-18102-76ipel/certifi-2023.11.17
pycairo @ file:///private/tmp/py3cairo-20231021-6574-xwz2b1/pycairo-1.25.1
Pygments @ file:///private/tmp/pygments-20231121-5274-1rlyumb/pygments-2.17.2
PyGObject==3.46.0

pip~=21.2.4
wheel~=0.37.0
pillow~=10.2.0
Jinja2~=3.1.3
setuptools~=58.0.4
python-dateutil~=2.8.2
future~=0.18.2
idna~=3.6
certifi~=2023.11.17
six~=1.15.0
MarkupSafe~=2.1.5
numpy~=1.26.4
matplotlib~=3.8.3
packaging~=23.2
urllib3~=2.1.0
zipp~=3.17.0
requests~=2.31.0
contourpy~=1.2.0
fonttools~=4.49.0
pyparsing~=3.1.1
cycler~=0.12.1
kiwisolver~=1.4.5
pygame~=2.5.2